* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
section {
  display: grid;
  text-align: center;
  background-color: #e0e0e0;
  width: 100vw;
  height: 4800px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: 80px 200px;
}
div {
  background-color: white;
}
.profile {
  grid-area: 2/5/2/5;
  background-color: lightgreen;
}
.logo {
  grid-area: 1/1/1/1;
  background-color: tomato;
}
.menu {
  grid-area: 1/6/1 / span 3;
}
