/* --------------HEADER----------------- */

.header {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  opacity: 1;
  background-color: white;
  text-align: center;
  .logo {
    float: left;
    padding: 25px 20px;
    opacity: 0.95;
    text-align: center;
    .short {
      width: 30px;
      font-family: sans-serif;
    }
  }
}

.menu {
  float: right;
  margin-right: 40px;
  padding-top: 5px;
  .mobileBar {
    position: relative;
    width: 30px;
    padding-top: 60%;
    opacity: 0.8;
    img {
      width: 100%;
    }
  }
  .menuList {
    list-style: none;
    .menuItems {
      display: inline;
      margin: 5px;
      padding: 0 10px 0 10px;
      cursor: pointer;
    }
    .menuItems:hover {
      color: tomato;
    }
  }
}

.overlay {
  margin-right: 195px !important;
}

.wrapper {
  opacity: 0;
  transition: all 0.2s;
}
.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
}
@media screen and (max-width: 800px) {
  .profile {
    transform: translateY(15vh);
  }

  .menu {
    .menuList {
      right: -180px;
      display: grid;
      position: absolute;
      margin-top: 20px;
      opacity: 1;
      padding-bottom: 20px;
      font-size: 18pt;
      .menuItems {
        position: relative;
        margin-top: 10px;
        color: white;
        font-size: 15pt;
      }
    }
  }

  .fullName {
    display: none;
  }

  .projects {
    padding: 0;
  }

  .projects div {
    margin-bottom: 20px;
  }

  .projects div img {
    position: static;
    width: 100%;
    margin: 0 auto;
  }

  .overview {
    margin: 30px 15px 100px 15px;
  }
}

@media screen and (min-width: 800px) {
  .menuList {
    position: relative;
  }
  .mobileBar {
    display: none;
  }
  .shortName {
    display: none;
  }

  .projectDesctiption {
    h2 {
      text-align: left;
    }
  }
}
