/* --------------HEADER----------------- */

.header {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  opacity: 1;
  background-color: white;
  box-shadow: 0 1px 10px 1px rgba(40, 41, 44, 0.1);
  text-align: center;
  transition: all 0.2s;
}

.logo {
  float: left;
  padding: 25px 20px;
  opacity: 0.95;
  text-align: center;
}

.logo .short {
  width: 30px;
  font-family: sans-serif;
}

.menu {
  float: right;
  margin-right: 40px;
  padding-top: 5px;
}

.menuItems {
  display: inline;
  margin: 0 2px 0 2px;
  padding: 0 10px 0 10px;
  color: black;
  transition: 0.2s;
  cursor: pointer;
}

.menuItems:hover {
  color: tomato;
}

.mobileBar img {
  width: 100%;
}

.mobileBar {
  position: relative;
  width: 30px;
  padding-top: 60%;
  opacity: 0.8;
  transition: all 0.2s;
}

.menuItems:active {
  cursor: default;
}

.overlay {
  right: -60px !important;
  visibility: visible !important;
}

.menuList {
  position: relative;
  list-style: none;
  transition: all 0.2s;
}

.darken {
  box-shadow: 0;
  background-color: #0d0d0d;
}
.noscroll {
  opacity: 0;
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .profile {
    transform: translateY(15vh);
  }
  .menu ul {
    direction: rtl;
    display: grid;
    visibility: hidden;
    position: absolute;
    margin-top: 20px;
    opacity: 1;
  }
  .menuList {
    right: -165px;
  }
  .menuItems {
    margin-top: 10px;
    color: white;
    font-size: 15pt;
  }

  .full {
    display: none;
  }

  .projects {
    padding: 0;
  }

  .projects div {
    margin-bottom: 20px;
  }

  .projects div img {
    position: static;
    width: 100%;
    margin: 0 auto;
  }

  .overview {
    margin-top: 30px;
    margin-bottom: 100px;
  }

  .wrapper {
    opacity: 0;
    transition: all 0.2s;
  }

  .cover {
    z-index: 1;
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: inherit;
    box-shadow: inset 0 0 0 400px black;
  }
}

@media screen and (min-width: 800px) {
  .mobileBar {
    display: none;
  }

  .short {
    display: none;
  }

  .projectDesctiption h2 {
    text-align: left;
  }
}
